/* =============================================
   MYLINKS - ESTILOS BASE
   En las próximas clases construirás encima
   de estos estilos para mejorar el diseño.
   ============================================= */

/* --- ESTILOS GLOBALES --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #0f0f13;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --- TARJETA PRINCIPAL --- */
.card {
  width: 90%;
  max-width: 400px;
  text-align: center;
  padding: 40px 20px;
}

/* --- FOTO DE PERFIL --- */
.avatar {
  border-radius: 50%;
}

/* --- NOMBRE --- */
.name {
  font-size: 1.7rem;
  margin-top: 1rem;
}

/* --- BIO --- */
.bio {
  font-size: 0.94rem;
  color: #a0a0b0;
  margin-top: 0.5rem;
}

/* --- CONTENEDOR DE ENLACES --- */
.links {
  margin-top: 1.5rem;
}

/* --- CADA ENLACE --- */
.link {
  display: block;
  padding: 0.75rem;
  margin-top: 0.75rem;
  border: 1px solid #2a2a38;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.94rem;
}


@media (min-width: 768px) {
  .name{
    font-size: 2.2rem;
  }

  .card{
    width: 100%;
    max-width: 700px;
    padding: 5px 0px;
  }
}
